.employees {
  .employees__body {
    display: flex;
    justify-content: space-between;
  }

  .employees__alphabet,
  .employees__active {
    width: 50%;
    padding: 24px;
  }

  .employees__alphabet {
    border-right: 1px solid black;
  }

  .alphabet-list {
    .alphabet-list__letter-block{
      .letter-block__items {
        label {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
